/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*

    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
    qui officia deserunt mollit anim id est laborum.
*/
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Self defined styles*/
.login_table {
    display: inline-block;
    padding: 0.5em;
    border: 2px solid #46a7e0;
    width: 50%;
}

.login_row {
    display: table-row;
}

.login_cell {
    display: table-cell;
    padding: 0.5em;

}
.highlight {
    /*background-color: yellow;*/
    /*font-weight:bold;*/
    background-color: #D3D3D3;
}


/*Gallery styles*/

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.card {
    border: 2px solid black;
    padding: 1em;
    margin: 1em;
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--font-size);
}

.card > * {
    margin: 0.5em;
}

.card > img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 150px;
    /* Seems to be the correct option */
    object-fit: contain;
}
.card > h3{
    text-align:center;

}

.card >p {


}

.searchbar-div{
    margin: 1.5em 0em;
}

.searchbar-input {
    display: block;
    margin: 0 auto;
    width: 74%;
    border-radius: 25px;
    background-image: url("../image/search_icon.png");
    background-repeat:no-repeat;
    background-size:1.5em;
   background-position: 0.5% 50%;
    padding-left: 30px;
}
.greeting-div > h3{
    font-size:x-large;

}
.greeting-div > p > a {
    font-size:medium;
}

.cart-div{
    display:flex;
    flex-direction:row;
    margin-left:10px;

}

.cart-logo {
    height: 50px;
    display:block;
  
}
.cart-quantity {
    font-size: xx-large;
    font-weight: bold;
    margin-left:0.2em;

 
}
.gallery-header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap;
  
    padding: 0 0;
}
/*input[type=number]::-webkit-inner-spin-button {
    opacity: 1

}*/



