@{
    List<PurchaseHistory> phList = (List<PurchaseHistory>)ViewData["phList"];
}

@ViewData["title"] = "My Purchases";

<h2>My Purchases - Summary</h2>

<table>
    <tr>
        <th></th>
    </tr>
</table>
