@{ 
    string loginError = (string) ViewData["loginError"];
}

@if (loginError != null)
{
<script type="text/javascript">
var message = '@loginError';
if(message)
    alert(message);
</script>
}

<form action="/Login/Login" method="POST">
    <div style="text-align:center">
        <div class="login_table">
            <div class="login_row">
                <div class="login_cell">
                    Username:
                </div>
                <div class="login_cell">
                    <input class="form-control" name="username" style="width:200%" />
                </div>
            </div>
            <div class="login_row">
                <div class="login_cell">
                    Password:
                </div>
                <div class="login_cell">
                    <input class="form-control" name="password" style="width:200%" />
                </div>
            </div>
            <div class="login_row">
                <div class="login_cell"></div>
                <div class="login_cell" style="text-align: right">
                    <input type="submit" value="Login" class="btn btn-primary" style="width:200%" />
                </div>
            </div>
        </div>
    </div>
</form>