@{
    string loginError = (string)ViewData["loginError"];
    string createSuccess = (string)ViewData["createUserSuccess"];
}

@if (loginError != null)
{
    <script type="text/javascript">
var message = '@loginError';
if(message)
    alert(message);
    </script>
}

@if (createSuccess != null)
{
<script type="text/javascript">
    var message = '@createSuccess';
if(message)
    alert(message);
</script>
}

<form class="login-form" id="loginform" action="/Login/Login" method="POST">

    <div class="login-form__content">

        <div class="login-form__header">Login to your account</div>

        <input class="login-form__input" type="text" name="username" placeholder="Username">

        <input class="login-form__input" type="password" name="password" placeholder="Password">

        <button class="login-form__button" type="submit">Login</button>

        <p></p>

        <button class="login-form__button" type="submit" formaction="/Register/Index" id="signupbutton">Sign up</button>

    </div>

</form>