@{ List<ShoppingCartWebApp.Models.Product> products =
                         (List<ShoppingCartWebApp.Models.Product>)ViewData["products"];

    Cart cart = (Cart)ViewData["cart"];
    }

@section Scripts {
    <script src="~/js/Gallery.js"></script>
}

<div id=""><a href="#" style="color:#434343">Cart <span class="cart-badge" id="select_cart">0</span></a></div>


<div>
    <div style="color:#434343">
        <a href="#">
            <div>
                Cart    <div id="count" style="display:inline; font-weight:bold">0</div>
            </div>
        </a>
    </div>
</div>




<div style="text-align:center">
    <div class="task_list" style="display:inline-block">
        @foreach (ShoppingCartWebApp.Models.Product p in products)
        {
<div id=@p.Id class="a_product">
    <div id=@p.ProductName>@p.ProductName</div>
    <div>@p.Description</div>
    <div>
        <a href="#!"
           class="add-to-cart-btn">Add to Cart</a>
    </div>
</div>}
    </div>
</div>


